@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700);
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/295157_7A_0.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-SemiBold';
	src: url('../fonts/295157_6E_0.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Thin';
	src: url('../fonts/295157_59_0.woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
* {
	border-box:box-sizing;
}
html {
	overflow-x:hidden;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
	margin:0;
	border-box:box-sizing;
	font-family: 'ProximaNova-Regular', Sans-Serif;
	font-size: 16px;
	color:#333;
	font-weight: normal;
	width:100%;
	overflow-x:hidden !important;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'ProximaNova-SemiBold', "Arial Bold", Sans-Serif;
	color:#212121;
}
ul {
	padding-left:20px;
}
.header_fix {
	height:97px;
	position: relative;
	width:100%;
	background: #214960;
}
header {
	background: rgba(42, 74, 84, 0.98);
	padding:12px 0;
	z-index:99;	
	transition: all .4s ease;
	position: fixed;
	width:100%;
	.logo {
		max-width:200px;
		display: inline-block;
		vertical-align: top;
		svg {
			width:140px;
			fill:white;
		}
	}
	.head_menu {
		width:calc(100% - 145px);
		display: inline-block;
		text-align: right;
		margin-top:25px;
		.nav {
			padding: 0;
				.menu {
					padding:0;
				}
			li {
				display: inline-block;
				a {
					color:white;
					padding:10px 15px;
					font-size: 15px;
					opacity:0.9;
					font-family: 'ProximaNova', Sans-Serif;
					&:hover {
						background: none;
						opacity: 1;
						color:#00B390;
					}
				}
				&:nth-child(6) {
					a {
						color:white;
					}
				}
			}
			.mail {
				a {
					padding:0 15px;
					svg {
						width:22px;
						position: relative;
						top:5px;
					}
				}
			}
		}
	}
	.nav>li>a:focus, .nav>li>a:hover {
		background: none;
	}
	
	.menu-headernav-container {
		display:inline-block;
	}
}

a {
	color:#00B390;
	&:hover {
		text-decoration: none;
		color:#00B390;
	}
	&:active {
		background: none;
	}
	&:focus {
		background-color: none;
	}
}
header.sticky {
  	background:  rgba(42, 74, 84, 0.79);
	padding:12px 0;
	z-index:99;	
	transition: all .4s ease;
	position: fixed;
	width:100%;
	.logo {
		svg {
			fill:white;
		}
	}
	.head_menu {
		li {
			a {
				font-size: 15px;
				color:white;
				transition:.2s;
				&:hover {
					color:#00B390;
				}
			}
		}
		.nav {
		}
		.mail {
			svg {
				fill:#212121 !important;
			}
		}
	}
}
.container {
	margin:0 auto !important;
	padding:0 25px;
	width:auto;
	max-width: 80em;
}
.smform-title {
	font-weight: normal !important;
}
.contacts {
	a {
		color:#00B390;
	}
}
.alignC {
	text-align: center;
}
.shadow-block {
	box-shadow: 10.285px 12.257px 40.48px 3.52px rgba(0,0,0,0.15);
	padding:35px 20px 40px 30px;
	position: relative;
	cursor:pointer !important;
	text-align: left;
}


/* FAQ Accordion styles */ 
.faq {
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-title>a {
		color:rgba(42, 74, 84, 0.98);
		border: 2px solid rgba(42, 74, 84, 0.98);
	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-title>a {
		color:rgba(42, 74, 84, 0.98); 
	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading {
		border:none;
	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-body {
		border-color:transparent;

	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-sky.vc_tta-style-outline .vc_active .vc_tta-panel-heading .vc_tta-controls-icon::before {
		border-color: rgba(42, 74, 84, 0.98);
	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel-heading .vc_tta-controls-icon::after, .vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel-heading .vc_tta-controls-icon::before {
		border-color: rgba(42, 74, 84, 0.98);
	}
	/* Hover effects */
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel .vc_tta-panel-heading:hover {
		background-color: rgba(42, 74, 84, 0.98);
	}

	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel.vc_active .vc_tta-panel-heading {
		background-color: transparent;
	}
	.vc_tta-color-sky.vc_tta-style-outline .vc_tta-panel.vc-active .vc_tta-panel-title > a:hover {
		color:rgba(42, 74, 84, 0.98);
	}
	/* End hover effects */
}



/* End Accordion styles */ 


footer {
	color:#212121;
	background: #f2f2f2;
	padding:60px 0;
	font-size:15px !important;
	.container {
		max-width: 85em;
	}
	.foot_nav {
		.col1 {
			max-width:370px;
			margin-right:125px;
			display: inline-block;
			vertical-align: top;
			padding-left:15px;
		}
		.col2 {
			display: inline-block;
			vertical-align: top;
		}
		.col3 {
			margin-left: 75px;
			display: inline-block;
			vertical-align: top;
		}
		.col4 {
			display: inline-block;
			float:right;
			padding-right:15px;
		}
		.foot_cop {
		}
		h5 {
			font-family:'ProximaNova-SemiBold', "Arial Bold", Sans-Serif;
			font-size: 16px;
			color:#212121;
		}
		ul {
			padding:0;
			li {
				list-style-type: none;
				padding-bottom:10px;
			}
		}
		p {
			line-height: 28px;
		}
		a {
			color:#212121;
		}
	}
	.emails_ {
		a {
			color:rgba(42, 74, 84, 0.98);
			vertical-align: top;
			&:hover {
				text-decoration: none;
			}
			svg {
				fill:#212121 !important;
				width:22px;
				height:20px;
				vertical-align:middle;
				margin-right:10px;
				margin-top:-1px;
			}
		}
	}
	.social {
		margin-top:35px;
		li {
			display: inline-block;
			margin-right:20px;
			i {
				font-size: 20px;
				color:#212121;
				&:hover {
					color:#00B390;
				}
			}
		}
	}
	.rating_ {
		text-align: right;
		margin-top:10px;
		#bbblink {
			float:right;
		}
		.small_rating_ {
			display: block;
		    width: 100%;
		    clear: both;
		    font-size: 10px;
		    padding-right: 13px;
			}
		}
	.foot_links {
		ul {
			padding:0;
			li {
				display: inline-block;
				margin-right:20px;
				a {
					font-family: 'ProximaNova-SemiBold', "Arial Bold", Sans-Serif;
    				font-size: 14px;
					color:#212121;
					&:hover {
						color:#00B390;
					}
				}
			}
		}
	}
	.phone_ {
		color:rgba(42, 74, 84, 0.98);
	}
}
.ubtn-hover-active {
	opacity: 0 !important;
}
.wpb_gmaps_widget .wpb_wrapper {
	padding:0 !important;
}
.wpb_wrapper {
	p {
		span {
			line-height: 25px;
		}
	}
}
#map {
	height:100%;
}
button {
	text-transform: normal;
	font-family: 'ProximaNova-Thin', "Arial Bold", Sans-Serif;
	font-size: 20px !important;
}
input[type="submit"] {
	text-transform: normal;
	font-family: 'ProximaNova-Thin', "Arial Bold", Sans-Serif !important;
	font-size: 20px !important;
}
.top_banner {
	min-height: 600px;
	background: url(../img/home-ban.jpg);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: 40% 60%;
	position: relative;
	text-align:center;
/* 	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center; */
	.banner_overlay {
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: rgba(0,0,0,.4);
	}
	.banner_text {
		padding-top:12%;
		position: relative;
		z-index:1;
		color:white;
		h2 {
			font-size: 46px;
			font-weight:bold;
			margin-bottom:32px;
			color:white;
			font-family: 'ProximaNova-Bold', "Arial Bold", Sans-Serif;
			display: inline-block;
			padding:0 25px;
			max-width: 900px;
		}
		p {
			font-size: 22px;
			padding:0 10px;
			margin: 0 auto;
		}
		.full-p {
			max-width: 90%;
		}
	}
}
.deliv {
	background: url(../img/deliv-ban.jpg);
	background-size:cover;
	background-position: 40% 20%;
}
.about {
	background: url(../img/top-banner.png);
	background-size:cover;
	background-position: 40% 30%;
	min-height: 600px;
}
.prod {
	background: url(../img/prod-ban.jpg);
	background-size:100%;
	background-position: 40% 40%;
	min-height: 600px;
	.banner_text {
		padding-top: 15%;
	}
}
p {
	line-height: 25px;
}
.blueText {
	color:rgba(42, 74, 84, 0.98);
	cursor:pointer;
	font-weight: bold;
	display: inline-block;
	width:80px;

}
.w90 {
	width:90%
}
.page_holder {
	
	.home_cols {
		padding-top:40px;
		padding-bottom:40px;
		cursor: pointer;
		text-align: center;
		img {
			color:#79891b;
			width: 40px;
			height:40px;
			position: relative;
			top:-2px;
			display: inline-block;
			margin-right: 10px;
			vertical-align: middle;
		}
		span {
			display: inline-block;
			font-size: 16px;
			color: rgba(42, 74, 84, 0.98);
		}
		.icon_fix_ {
			width:30px;
		}
	}
}

.home-pad {
	padding: 60px 0 30px 0;
	text-align:center;
	p {
		max-width: 700px;
		font-size: 20px;
		margin:0 auto;
		color: #333;
	}
}
.grey_block {
	background:#f0f0f0;
}
.lheight {
	p {
		span {
			line-height: 1.625em;
		}
	}
}
/* Потом удалить */
.round {
  text-align:center;
  padding:0;
}
.round li {
  list-style-type: none;
  position: relative;
  padding: 0 15px 20px 15px;
  font-size: 20px;
  font-weight:bold;
  color:#a5a5a5;
  text-transform: uppercase;
  transition:.5s;
  cursor: pointer;
}
.sep {
  transition:.5s;
}
.marT40 {
  margin-top: 70px !important;
}
.russ_sep {
  position: absolute;
  width: 1px;
  background: #a5a5a5;
  height:135px;
  right:50%;
  top:40px;
}
.ukr_sep {
  position: absolute;
  width: 1px;
  background: #a5a5a5;
  height:140px;
  right:24%;
  top:15px;
  transform: rotate(140deg);
}
.kaz_sep {
    position: absolute;
    width: 1px;
    background: #a5a5a5;
    height: 140px;
    left: 24%;
    top: 15px;
    transform: rotate(220deg);
}

.kir_sep {
  position: absolute;
  width: 1px;
  background: #a5a5a5;
  height: 200px;
  right: 20%;
  top: -25px;
  transform: rotate(110deg)
}

.turk_sep {
  position: absolute;
  width: 1px;
  background: #a5a5a5;
  height: 200px;
  left: 20%;
  top: -25px;
  transform: rotate(250deg)
}

.mold_sep {
  position: absolute;
  height: 1px;
  background: #a5a5a5;
  width: 250px;
  right: -70%;
  top: 13px;
}

.gruz_sep {
  position: absolute;
  height: 1px;
  background: #a5a5a5;
  width: 270px;
  left: -70%;
  top: 13px;
}
.round li svg {
  width:130px;
  fill: rgba(42, 74, 84, 0.98);
  position: relative;
  top:-20px;
}
.round li:hover {
  color:rgba(42, 74, 84, 0.98);
  
}
.round li:hover .sep {
  background:rgba(42, 74, 84, 0.98);
}
/* Удалить */


/* Map settings */
#google-container {
  position: relative;
  width: 100%;
  height: 200px;
  background-color: #214960;
}
.bg-col {
	width:37% !important;
	.vc_column-inner  {
		width: 100%;
	    height: 240px;
	    font-size: 0;
	    line-height: 0;
	    vertical-align: top;
	    background-size: 100% auto;
	    background-position: 50% 50%;
	    background-repeat: no-repeat;
	    margin: 0;
	}
}
.col-left {
	float:left !important;
}
.col-right {
	float:right !important;
}
@media only screen and (min-width: 768px) {
  #google-container {
    height: 300px;
  }
}
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 450px;
  }
}

#cd-google-map {
  position: relative;
}
#cd-google-map address {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1em 1em;
  background-color: rgba(42, 74, 84, 0.98);
  color: white;
  font-size: 13px;
  font-size: 0.8125rem;
}
@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center;
  }
}

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg");
}
.no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
  background-color: #d36868;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in, #cd-zoom-out {
    margin-left: 50px;
  }
}

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px;
  }
}

#cd-zoom-out {
  background-position: 50% -32px;
}

.smform legend .smform-title, .smform legend .smsection-title {
	font-size:22px !important;
}
.smform legend {
	border-bottom: 0px !important;
}

.smform-field-label {
	font-size:18px;
	font-weight:lighter !important;
}

.smform-submit {
	background: white;
	border:1px solid #00B390;
	background: #00B390;
	color:white;
	letter-spacing: 1px;
	font-size: 14px;
	padding:15px 30px !important;
}
.smform-control {
	border-radius: 0 !important;
	box-shadow: none !important;
}
input.smform-control {
    height:44px !important;
}
/* Mobile menu */
.mob_navi {
	#mob_open {
	    display: block;
	    position: absolute;
	    right: 40px;
	    top: 0;
	    margin: 30px 20px;
	    cursor: pointer;
	    height: 24px;
	    .bar {
		    display: block;
		    background: white;
		    height: 4px;
		    width: 40px;
		    position: absolute;
		    transition: all 0.5s ease;
		    &:nth-child(1) {
			    top: 0px;
			}
			&:nth-child(2) {
			    top: 12px;
			}
			&:nth-child(3) {
			    top: 24px;
			}
		}
	}
	#accordian {
	    width: 100%;
	    display: none;
	    color: white;
	    /* box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6), 0 0 200px 1px rgba(255, 255, 255, 0.5); */
	    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	    border-top: 1px solid white;
		.menu-headernav-container {
			width:100%;
			ul {
				padding: 15px 0 15px 0;
		    	margin-bottom: 0;
				li {
					a {
					    padding: 0 10px;
					    font-size: 16px;
					    line-height: 34px;
					    display: block;
					    color: white;
					    text-decoration: none;
					}
				}
			}
		}
	}
}
.transparent {
    opacity: 0;
}
.rotate-top {
    transform: rotatez(45deg);
    -webkit-transform-origin: 0%;
    left: 2px
}
.rotate-bottom {
    transform: rotatez(-45deg);
    -webkit-transform-origin: 15%;
}

#accordian h3:hover {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, .2);
}
#accordian li {
    list-style-type: none;
}

#accordian ul ul li a,
#accordian h4 {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 27px;
    display: block;
    padding: 0 20px;
    transition: all 0.15s;
    position: relative;
}
#accordian ul ul li .title {
    font-weight: bold;
    padding:0 15px;
}
#accordian ul ul li a:hover {
    background: rgba(0, 0, 0, .2);
    border-left: 10px solid white;
}
#accordian ul ul {
    display: none;
}
#accordian li.active > ul {
    display: block;
}
#accordian ul ul ul {
    margin-left: 25px;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 0;
}
#accordian a:not(:only-child):after {
    content: "\f104";
    font-family: fontawesome;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 26px;
    transition: .5s;
    font-weight: bold;
}
#accordian .active > a:not(:only-child):after {
    content: "\f104";
    font-weight: bold;
    transform: rotate(-90deg);
}
.mob_navi {
    display: none;
}
.active_menu__ {
    display: block !important;
}

@media only screen and (max-width: 1200px) {
    header {
    	position: relative;
	  .head_menu {
	  	display: none;
	  }
	  .mob_navi {
	  	display: block;
	  }
	}
	.header_fix {
		display: none;
	}
	header.sticky {
		background: rgba(42, 74, 84, 0.98);
		padding:9px 0;	
		transition: all 0 fade;
		position: relative;
		width:100%;
		height: auto;
	}
	.gruz_sep {
		width:200px;
		left:-65%;
	}
	.mold_sep {
		width:180px;
		right:-65%;
	}
	footer {
		.social {
			margin-top:10px;
		}
		.foot_nav {
			.col1 {
				padding-left:15px;
				width:100%;
				max-width: 100%;
			}
			.col2 {
				padding-left:15px;
			}
			.col3 {
				margin-left:35px;
			}
		}
	}
}

@media only screen and (max-width: 990px) {
	.tab_hide {
		display: none;
	}
	.rating_ {
		display: none;
	}
	.container {
		.media_bg {
			background-color: #f2f2f2 !important;
		}
	}
	.shadow-block {
		min-height: 250px;
	}
	.half-bg {
		background: none;
	}
	.prod {
		background-size: cover;
	}
	.deliv {
		.banner_text{
			padding-top:20%;
		}
	}
	.about {
		.banner_text{
			padding-top:20%;
		}
	}
}
@media only screen and (max-width: 770px) {
	.contacts {
		.wpb_content_element {
			margin-bottom: 10px;
		}
	}
	.hide_770 {
		display: none;
	}
	.shadow-block {
		min-height: auto;
	}
}
@media only screen and (max-width: 767px) {
	.bg-col {
		width:100% !important;
		margin:10px 0 10px;
		.vc_column-inner {
			height:350px;
			background-size: cover;
		}
	}
	.767padfix {
		padding-left:0 !important;
		margin-top:40px !important;
	}
}
@media only screen and (max-width: 720px) {
	.home_cols {
		padding:20px 15px 20px 0 !important;
	}
}

@media only screen and (max-width: 580px) {
	footer {
		.social {
			margin-top:50px;
		}
		.foot-col {
			margin:10px 0;
		}
		.foot_nav {
			.col1 {
				padding-right:15px;
			}
			.col2 {
				width:100%;
			}
			.col3 {
				width:100%;
				margin-left:0;
				padding-left:15px;
			}
			.col4 {
				display: none;
			}
		}
	}
	.top_banner {
		.banner_text {
			h2 {
				padding:0;
				font-size: 36px;
			}
			p {
				font-size: 18px;
			}
		}
	}
	.deliv, .about {
		.banner_text{
			padding-top:30%;
		}
	}
}
@media only screen and (max-width: 340px) {
	.top_banner {
		.banner_text {
			h2 {
				padding:0;
				font-size: 32px;
			}
			p {
				font-size: 16px;
			}
		}
	}
}